[submodule "fuchsia-cpp-gn-sdk"]
	path = fuchsia-cpp-gn-sdk
	url = https://fuchsia.googlesource.com/samples
	branch = main
	fetchRecurseSubmodules = true
    shallow = true
[submodule "flutter"]
	path = flutter
	url = https://github.com/flutter/flutter
	branch = master
	fetchRecurseSubmodules = true
    shallow = true
